<!doctype html>
<html>
<head>
  <style>
    .error{color:red; display:inline-block;}
  </style>
</head>
<body>


    <h1>User Signup</h1>

    <form action="/signup" method="post">
    <label>Username
        <input name="usrname" type="text" value='{{usrname}}'/>
    </label>
    <p class="error">{{usrname_error}}</p>

    <br>
    <label>Password
        <input name="passwrd" type="password" value='{{passwrd}}'/>
    <class="error"; '{{passwrd_error}}'</label>
    <p class="error">{{passwrd_error}}</p>

    <br>
    <label>Verify Password
        <input name="vpasswrd" type="password" value='{{vpasswrd}}'/>
    </label>
    <p class="error">{{vpasswrd_error}}</p>

    <br>
    <label>Email (optional)
        <input name="email" type="text" value='{{email}}'/>
    </label>
    <p class="error">{{email_error}}</p>

    <br>
    <input type="submit"/>
    </form>
</body>
</html>
